{% extends 'Hire/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">
        Hire skilled people to solve your problems
    </h1>

    <p class="lead">
        hire.com provides access to a talent pool,
        reducing hiring time and overhead costs while ensuring skilled
        workers are matched to specific business needs. This strategic
        solution enhances operational efficiency.
    </p>

    <a href="{% url 'Hire:services' %}" 
    class="btn btn-lg btn-primary" role="button">Get Started &raquo;</a>

</div>


{% endblock content %}